*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-dark: rgb(23 23 23);
    --text-opacity: 1;
    --text-opacity-color: rgb(163 163 163/var(--text-opacity));
    --text-active-color: rgb(255 255 255/var(--text-opacity));
}

body{
    background-color: var(--background-dark);
    font-family: sans-serif;
}

main{
    width: 70vw;
    margin: 0 auto;
}

.navbar{
    margin: 18px 0 18px 0;
    padding: 18px 0 18px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul li a{
    color: var(--text-opacity-color);
    text-decoration: none;
    margin: 10px;
}

.navbar ul li a:hover{
    color: var(--text-active-color);
}

.navbar ul li{
    list-style: none;
    font-size: 22px;
}

.nav-links{
    color: var(--text-opacity-color);
    display: flex;
}

h1{
    font-size: 102px;
    color: var(--text-active-color);
}

.sub-title{
    color: var(--text-opacity-color);
    margin-top: 10px;
    font-size: 20px;
}

.main-list{
    margin-top: 65px;
    text-align: left;
}

.main-list ul li{
    list-style: none;
    margin: 35px 0;
}

.main-list ul li a{
    text-decoration: none;
    color: var(--text-active-color);
    font-size: 23px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--text-opacity-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-list ul li a .date{
    color: var(--text-opacity-color);
    font-size: 20px;
}

.main-list ul li a:hover > span{
    color: var(--text-active-color);
}

.copyright{
    text-align: center;
    padding-bottom: 50px;
    color: var(--text-opacity-color);
    font-size: 20px;
}
